
.header {
    background-color: #F9F8F5;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px; 
}

.searchBox {
    display: flex;
}

.searchBox input {
    padding: 5px;
    margin-right: 5px;
    border: 1px solid #ccc;
}

.searchBox button {
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.login a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
