.main-footer {
  background-color: rgba(65, 63, 63, 1);
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-icons img {
  width: 30px;
  margin-right: 10px;
}

.copyright {
  margin: 0;
}